<footer class="footer">
  <div class="footer-container">
    
    <!-- Social Icons -->
    <div class="footer-icons">
      <a 
        href="https://www.instagram.com/fynora_entertainments?igsh=MTl1ajlhZG1hN3ZtMQ==" 
        target="_blank" 
      >
        <img src="assets/images/instagram_2111463.png" alt="Instagram" class="footer-icons-icon">
      </a>

      <a 
        href="https://wa.me/+919656735696?text=Hi%20Fynora%2C%20I%20would%20like%20to%20know%20more%20about%20your%20events." 
        target="_blank" 
      >
        <img src="assets/images/whatsapp_2504957.png" alt="WhatsApp" class="footer-icons-icon">
      </a>

      <a 
        href="#" 
        target="_blank" 
      >
        <img src="assets/images/facebook_5968764.png" alt="Facebook" class="footer-icons-icon">
      </a>

      <a 
        href="#" 
        target="_blank" 
      >
        <img src="assets/images/youtube_3938037.png" alt="YouTube" class="footer-icons-icon">
      </a>
    </div>

    <!-- Copyright -->
    <div class="footer-copyright">
      <h6 class="footer-copyright-text">
        <i class="fa-regular fa-copyright"></i>
        2025 Fynora Entertainments. All rights reserved.
      </h6>
    </div>
    
  </div>
</footer>
