<header class="p-2" id="header" style="background-color: white; top: 0; position: fixed; z-index: 1;" >
        <nav class="navbar navbar-expand-lg">
            <a class="navbar-brand" href="#home">
                <img src="assets/images/WhatsApp Image 2025-03-16 at 12.26.08_565162b8.jpg" width="80%" alt="">
            </a>
            <button class="navbar-toggler navbar-light" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span> <!-- Hamburger icon -->
            </button>
          
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="index.html">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="events.html">Events</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="releases.html">Releases</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="services.html">Services</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="contact.html">Contact</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="about.html">About us</a>
                    </li>
                </ul>  
                <!-- Extra content visible only when collapsed navbar is open -->
                <div class="d-lg-none mt-3 text-center px-2">
                    <a href="https://www.instagram.com/fynora_entertainments?igsh=MTl1ajlhZG1hN3ZtMQ==" target="_blank"><img src="assets/images/instagram_2111463.png" alt="" style="width: 1rem;"></a>
                    <a href=""><img src="assets/images/facebook_5968764.png" alt="" style="width: 1rem;" ></a>
                    <a href="https://wa.me/+919656735696?text=Hi%20Fynora%2C%20I%20would%20like%20to%20know%20more%20about%20your%20events." target="_blank"><img src="assets/images/whatsapp_2504957.png" alt="" style="width: 1rem;"></a>
                    <a href=""><img src="assets/images/youtube_3938037.png" alt="" style="width: 1rem;"></a>
                    <h6 class="navmenu-title">Fynora Entertainments</h6>
                    <p class="navmenu-description">Crafting events that echo with elegance, joy, and unforgettable experiences.</p>
                </div>              
            </div>
        </nav>
        
    </header>