/* about design */

.about-container{
    padding-top: 10rem;
    padding-left: 5rem; padding-right: 5rem;
}
.about-text{
    font-size: 1rem;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}
.about-title{
    font-size: 2.2rem;
    font-family: "Alexandria", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    margin-bottom: 1.5rem;
}
.about-title-span{
    color: #009fe3;
}
.about-description{
    font-size: 0.9rem;
    font-family: "Alexandria", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    margin-bottom: 1rem;
}
.about-title-2{
    font-size: 1.7rem;
    margin-top: 4rem;
    margin-bottom: 2rem;
}
.about-title-3{
    font-size: 1.5rem;
    margin-top: 4rem;
    margin-bottom: 2rem;
}
.about-description-3{
    font-size: 1rem;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
}
.about-title-4{
    margin-top: 8rem;
    margin-bottom: 1.1rem;
}
.team-cards-container{
    display: flex;
    width: 100%;
    justify-content: space-around;
    margin: auto;
    margin-top: 6rem;
    margin-bottom: 5rem;
}
.team-card{
    width: 18rem;
    height: 23rem;
    padding: 1.6rem;
    border-radius: 1rem;
    text-align: center;
    box-shadow: 0 1px 2.5px rgba(0, 0, 0, 0.5);
    transition: transform 0.3s ease;
}
.team-card:hover{
    transform: scale(1.03) rotateX(5deg) rotateY(5deg);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
}
.circle4{
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    text-align: center;
    background-color: #009fe3;
    margin: auto;
    margin-top: 0.8rem;
}
.team-card-user_icon{
    width: 1rem;
    margin-bottom: 0.2rem;
}
.about-title-5{
    font-size: 1.15rem;
    margin-top: 1rem;
    height: 2rem;
    
}
.team-card-icons{
    display: flex;
    margin: auto;
    gap: 0.2rem;
    margin-top: 2rem;
}
.circle3{
    width: 1.8rem;
    height: 1.8rem;
    border-radius: 50%;
    background-color: #009fe3;
    text-align: center;
    margin: auto;
}
.about-description-5{
    font-size: 0.9rem;
    font-weight: 500;
}
.about-team-container{
    width: 70%;
    height: 65%;
    margin-left: auto; margin-right: auto;
}
.about-card-position{
    color: #000000af;
}
.about-team-rectangle{
    width: 100%;
    height: 0.2rem;
    background-color: #009fe3;
    margin-left: auto; margin-right: auto;
    margin-top: 0.3rem; margin-bottom: 0.2rem;
}
.about-team-description-container{
    width: 100%;
    padding-top: 1rem;
}
.about-team-description{
    text-align: center;

    font-size: 0.6rem;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
}
@media screen and (max-width: 768px) {
    .about-container{
        padding-left: 3rem; padding-right: 3rem;
    }
    .team-cards-container{
        display: block;
        align-items: center;
        width: 100%;
        margin-top: 5rem;
    }
    .team-card{
        width: 100%;
        max-width: 18rem;
        margin-bottom: 3rem;
        margin-left: auto; margin-right: auto;
        padding-top: 2rem;
    }
    .about-title-5{
        font-size: 1.2rem;
        margin-top: 1rem;
    }
}