/* UPDATED NAVBAR STYLE */

.header{
    background-color: white;
    color: black;
    z-index: 999;
    position: fixed;
}
.navbar{
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}
.navbar-brand{
    width: 15%;
    
}
.navbar-nav{
    width: 95%;
    float: right;
    text-align: end;
    justify-content: right;
}
.nav-item{
    justify-content: space-between;
    margin-right: 2%;
}
.nav-item:hover .nav-link{
    color: #9e93ff;
    transition: delay 0.3s ease;
    border-top: 0.5px solid #9e93ff;
    padding-top: 7px;
}
.navbar-nav .nav-link.active {
    color: #9e93ff !important;
    border-top: 0.5px solid #9e93ff;
    padding-top: 7px;
    transform: scale(1.03);
    transition: all 0.3s ease;
}
.nav-link{
    font-size: 1rem;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    color: black;
    transition: color 0.3s ease;
}
.navmenu-title{
    margin-top: 1.5rem;

    font-size: 1rem;
    font-family: "Alexandria", sans-serif;
    font-optical-sizing: auto;
    font-weight: 550;
    font-style: normal;
}
.navmenu-description{
    margin-top: 1rem;

    font-size: 0.7rem;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
}


@media screen and (max-width: 768px) {
    .navbar-nav{
        width: 100%;
        height: 40rem;
        margin-left: 11%;
        margin-top: 5%;
        float: left;
        justify-content: left;
        align-items: start;
    }
    .nav-item{
        margin-top: 7%;
    }
    .navbar-brand{
        width: 40%;
        padding-top: 2%;
        margin-left: 0
    }
    .navbar{
        padding-left: 0;
    }
    .navbar-toggler{
        margin-right: 5%;
        border: none;
    }
    .navbar-toggler:focus{
        outline: none;
        box-shadow: none;
    }
    
}
